/* .container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; 16:9 Aspect Ratio (divide 9 by 16 = 0.5625)
}

Then style the iframe to fit in the container div with full height and width
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
} */

.hs-responsive-embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    top: 140px;
    }
    .hs-responsive-embed-youtube iframe {
      display: flex;
      justify-content: center;
    position: absolute;
    width: 100%!important;
    height: 100%!important;
    }
  
    .close {
      position: absolute;
      right: 32px;
      top: 70px;
      width: 32px;
      height: 32px;
      opacity: 0.7;
      
    }

    .close:hover {
      opacity: 1;
    }

    .close:before, .close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: rgb(255, 255, 255);
    }

    .close:before {
      transform: rotate(45deg);
    }

    .close:after {
      transform: rotate(-45deg);
    }

    #load-video {
        display: none;
    }
    #close2 {
      top: 30px;   
    }
    
    
